.property-card {
    color: #8a8d93;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* .owned-bar{
    background-color: #37cfdc;
} */

.progress {
    height: 4px;
    background: #393c43;
    margin-bottom: 1em;
}

.not-found-page {
    /* content: ''; */
    width: 100%;
    height: 100%;
    display: block;
    /* z-index: -1; */
    /* background-color: #8a8d93; */
    background: url(../img/avi-waxman-pJk4RRS7urs-unsplash.jpg);

    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.sell-btn{
  color: red;
  border-color: red;
}

.sell-btn:hover {
  color: #fff;
  background-color: red;
  border-color: red;
}