.property-card {
    color: #8a8d93;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* .owned-bar{
    background-color: #37cfdc;
} */

.progress {
    height: 2px;
    background: #393c43;
    margin-bottom: 1em;
}