#nav_bar {
  background-color: black;
}

#logo_text{
  color: white;
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
}
body{
  background-color: #323033;
}

.nav_button{
  color: white;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-left: 1em;
  margin-right: 1em;
}